* {
    font-family: 'Roboto Mono', monospace;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #a09038;
}

body {
    background-image: url(imgs/pexels-faik-akmd-1025469.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

header {
    display: flex;
    justify-content: flex-end;
    padding: 5px;
    box-shadow: 1px 1px 10px 1px #fcf8e3;
}

header ul {
    display: flex;
}

header ul li {
    padding: 15px;
}

.linkGit:hover{
    color: white;
    text-decoration: underline;
    transition: 500ms;
}

.linkLinkedin:hover {
    color: rgb(22, 62, 240);
    text-decoration: underline;
    transition: 500ms;
}

.linkInsta:hover {
    color: rgb(230, 44, 205);
    text-decoration: underline;
    transition: 500ms;
}

.linkSpotify:hover {
    color: rgb(64, 197, 64);
    text-decoration: underline;
    transition: 500ms;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    text-align: center;
}

.container .name h1 {
    font-size: 40px;
    padding: 50px;
}

.container .name h5 {
    font-size: 17px;
    margin-bottom: 20px;
}

#arrow {
    font-size: 40px;
    cursor: pointer;
    
}

@keyframes blink {
    to {
        visibility: hidden;
    }
}

#animation {
    transition: 500ms;
}

.rotate {
    transform: rotate(360deg);
    transition: 300ms;    
}

.active {
    display: block !important;    
}

#about p {
    max-width: 600px;
    margin: 0 auto;
    font-size: 15px;
    color: #ebd55d;
}

.form {
    width: 40%;
    margin: 0 auto;
    padding: 10px;
}

.form input {
    width: 50%;
    background-color: #fcf8e3;
    padding: 5px 10px;
    border-radius: 5px;
}

.form button {
    width: 20%;
    padding: 5px 10px ;
    background-color: #fcf8e3;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 5px;
}
.form button:hover {
    background-color: #a09038;
    color: #fcf8e3;
    transition: 200ms;
}

@media only screen and (max-width: 768px) {
    .form {
        width: 100%;
    }
}
@media only screen and (max-width: 600px) {
    .form {
        width: 100%;
    }
}


